@page "/bygninger2"

@inject IBygningRepository _bygningRepository
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime

<_DeleteConfirm></_DeleteConfirm>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Bygningsoversigt</h4>
    </div>
    <div class="col-4 offset-2 py-3">
        <a href="bygninger/opret" class="btn btn-primary form-control">Opret ny bygning</a>
    </div>
    <div class="col-12">
        @if (Bygningers.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var byg in Bygningers)
                    {
                        <tr>
                            <td>@byg.Navn</td>
                            <td><a href="@($"bygninger/rediger/{byg.Id}")" class="btn btn-primary">Rediger</a></td>
                            <td><button class="btn btn-danger" @onclick="()=>HandleDelete(byg.Id)">Slet</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <div class="text-center">
                    <img src="/images/loading.gif">
                    <p>Henter Data...</p>
                </div>
            }
            else
            {
                <p>Ingen data</p>
            }

        }
    </div>

</div>

@code {
    private IEnumerable<BygningDTO> Bygningers { get; set; } = new List<BygningDTO>();

    public bool IsLoading { get; set; } = true;

    private int DeleteBygningId { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadBygninger);
    }

    private void LoadBygninger()
    {

        Bygningers = _bygningRepository.GetAll();
    }

    private void HandleDelete(int id)
    {
        DeleteBygningId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }


}
